¿body {
    background-image: url('https://thumbs.dreamstime.com/b/aesthetic-random-rectangular-wooden-pile-background-275067837.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}